@tailwind base;
@tailwind components;
@tailwind utilities;
/* default */
/* :root { */
/*     --width: 720px; */
/*     --font-main: Verdana, sans-serif; */
/*     --font-secondary: Verdana, sans-serif; */
/*     --font-scale: 1em; */
/*     --background-color: #fff; */
/*     --heading-color: #222; */
/*     --text-color: #444; */
/*     --link-color: #3273dc; */
/*     --visited-color:  #8b6fcb; */
/*     --code-background-color: #f2f2f2; */
/*     --code-color: #222; */
/*     --blockquote-color: #222; */
/* } */

:root {
    --width: 720px;
    --font-main: Verdana, sans-serif;
    --font-secondary: Verdana, sans-serif;
    --font-scale: 1em;
    --background-color: #01242e;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #8cc2dd;
    --visited-color:  #8b6fcb;
    --code-background-color: #000;
    --code-color: #ddd;
    --blockquote-color: #ccc;
}
/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --background-color: #01242e; */
/*         --heading-color: #eee; */
/*         --text-color: #ddd; */
/*         --link-color: #8cc2dd; */
/*         --visited-color:  #8b6fcb; */
/*         --code-background-color: #000; */
/*         --code-color: #ddd; */
/*         --blockquote-color: #ccc; */
/*     } */
/* } */

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}
.site-footer{
    background-color: var(--background-color);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}
.title:hover {
    text-decoration: none;
}

h1.title {
    font-size: 1.5em;
    font-weight: 700;
}
.page-title {
    font-size: 2.0em;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.subtitle{
  @apply font-bold text-ecru;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: var(--visited-color);
}

a:hover {
    text-decoration: underline; 
}

nav a:visited {
    color: var(--link-color);
    
}

strong, b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

.navlink.active{
  color: var(--visited-color);
}

.fav-list{
  margin-top: 1.5rem;
}
.fav-list li {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
}
.fav-list-tech-badges {
    margin-left: 2.5rem;
}

.logo-container{
  @apply bg-gunmetal;
}

.logo{
  @apply text-secondary;
}
